<div class="user-profile">
  <img src="https://via.placeholder.com/150" alt="Аватар пользователя" class="user-avatar">
  <h1><%= @user.username %></h1>
  <p class="registration-date">Дата регистрации: <%= @user.created_at.strftime("%d-%m-%Y") %></p>

  <h2>Созданные задачи</h2>
  <% if @tasks.count > 0 %>
    <table class="task-table">
      <thead>
      <tr>
        <th>Заголовок</th>
        <th>Статус</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Приоритет</th>
      </tr>
      </thead>
      <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task_path(task) %></td>
          <td><%= task.display_status %></td>
          <td><%= task.description %></td>
          <td><%= task.category %></td>
          <td><%= task.display_priority %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="pagination">
      <%= paginate @tasks %>
    </div>
  <% else %>
    <p>У пользователя нет созданных задач</p>
  <% end %>


  <div class="back-link">
    <%= link_to 'Назад к списку пользователей', users_path, class: 'btn btn-secondary' %>
  </div>
</div>
